<iatec-layout-css></iatec-layout-css> <!-- get css to this template -->
<iatec-layout-header
          logoURL="../assets/images/pt-white-horizontal.png"
          logoURLMobile="../assets/images/iasd-white.png"
          [profile]="profile"
          [entities]="entities"
          [currentEntity]="currentEntity"
          [notifications]="notifications"
          (changeEntity)="onChangeEntity($event)"
          (allEntities)="onAllEntities($event)"
          (allNotifications)="onAllNotification($event)"
          (clickNotification)="onClickNotification($event)"
          (account)="onClickAccount($event)"
          (signOut)="onClickSignOut($event)"
          [languages]="languages"
          [currentLanguage]="selectedLanguage"
          (clickLanguage)="onClickLanguage($event)">
    <!-- Custom template -->
    <!-- <ng-template #templateNotification let-item>{{ item | json }}</ng-template> -->
    <!-- <ng-template #templateEntities></ng-template> -->
</iatec-layout-header>
<section>
    <iatec-layout-menu
        [loading]="loadingMenu"
        [ngModel]="menus"
        (clickMenu)="onClickMenu($event)"
        (clickFavorite)="onClickFavorite($event)" version="1.0.0">
        <!-- Custom menu template -->
        <!-- <ng-template #templateMenuItem let-item>
            <i [class]="item.iconClass"></i> {{item.title}} <span class="badge">{{item.id}}</span>
        </ng-template> -->
    </iatec-layout-menu>
    <iatec-layout-content [loading]="loading">
        <router-outlet></router-outlet>
    </iatec-layout-content>
</section>
